.footer__link {
  display: block;
  color: white;
  text-decoration: none;

  margin: 0 0 10px 0;
  padding: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: normal;

  transition: opacity 0.1s linear;
}

.footer__link:hover {
  opacity: 0.8;
}
